<nav>
    <div class="nav">
        <img src="/img/logo.png" class="logo" alt="logo">
            <div class="nav-buttons">
                <button id="account_button"> 
                    <div id="wrap">  
                        <img src="/img/profile.png" id="account"> <div id="text"> My Account </div>
                    </div>
                </button>
                <button id="post_ad"> Post an Ad </button>
            </div>
    </div>
</nav>

<div id="main"> 
    <div id="profile">
        <img src="imgs/profile_pic.png" id="profile_pic"> 
    </div>
    <div id="name"> Toby Andres</div>

    <div id="stars"> <img src="imgs/star.png" class="star_size"> <img src="imgs/star.png" class="star_size"> <img src="imgs/star.png" class="star_size"> <img src="imgs/star.png" class="star_size"> </div>

    <div id="boxes"> 

    <div class="menu_boxes" id="purple"> Postings </div>
    <div class="menu_boxes"> Chatbox</div>
    <div class="menu_boxes"> Favourites</div>
    <div class="menu_boxes"> Buying History</div>
    <div class="menu_boxes"> Reviews</div>
    <div class="menu_boxes"> Edit Profile </div>
    <div class="menu_boxes"> Sign Out</div>
    </div>

</div>